.MediaCard {
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 175px;
}

.MediaCard:hover {
  transform: scale(1.05);
}

.media-picture {
  width: 175px;
  height: 250px;
  border-radius: 8px;
  transition: opacity 0.3s ease;
}
