.hero-banner {
  background: 
    linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url("./../../../public/assets/movies-background.jpg") center center / cover no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  position: relative;
}

.hero-banner-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  overflow: hidden;
}

.hero-banner-top > img {
  cursor: pointer;
  width: 175px;
}

.hero-banner-buttons {
  padding-right: 30px;
  overflow: hidden;
}

.hero-banner-title {
  font-size: 3rem;
  font-weight: 400;
  margin: 0;
  max-width: 700px;
}

.hero-banner-title > span {
  font-weight: 700;
  color: cornflowerblue;
}

.hero-banner-subtitle {
  font-size: 1.5rem;
  margin: 10px 0;
}

@media(max-width: 768px) {
  .hero-banner-buttons {
    display: flex;
    flex-direction: column;
  }
}
