.hb {
  height: 100vh;
  display: grid;
  place-items: center;
  background-size: cover;
}

.hb::before {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to bottom, rgba(20, 20, 20, 1), transparent);
}

.hb::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, rgba(20, 20, 20, 1), transparent);
}

.hb .container {
  width: 80%;
}

.hb .container .text {
  position: relative;
  color: #fff;
  max-width: 600px;
}

.hb .container .text h1 {
  font-size: 4.5rem;
}

.hb .container .text p {
  font-size: 1.2rem;
  line-height: 2.5rem;
}

@media(max-width: 768px) {
  .hb {
    height: 45vh;
  }

  .hb::before {
    height: 45%;
  }

  .hb .container {
    width: 90%;
    flex-direction: column;
    align-items: flex-start;
  }

  .hb .container .text {
    width: 100%;
  }
  
  .hb .container .text h1 {
    font-size: 3rem;
  }

  .hb .container .text p {
    font-size: 0.9rem;
    line-height: 1.8rem;
  }
}

@media(max-width: 576px) {
  .hb .container .text h1 {
    font-size: 2.5rem;
  }
  
  .hb .container .text p {
    font-size: 0.8rem;
    line-height: 1.6rem;
  }

  .hb .container .text a {
    padding: 8px 20px;
    margin-right: 0.5rem;
    margin-bottom: 20px;
  }
}
