.MoviesCategory .medias-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  row-gap: 20px;
  padding-left: 60px;
  padding-right: 40px;
}

@media(max-width: 768px) {
  .MoviesCategory .medias-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding-left: 5px;
    padding-right: 0px;
  }
}
